body {
  margin: auto;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 3px;
  min-width: 100vw;
}

#outer {
  border: 5px dashed black;
  border-radius: 15px;
}

section {
  padding: 20px;
  background: orange;
  border-radius: 10px;
}

h1 {
  margin: 0;
  font-size: 100px;
  text-transform: uppercase;
  color: black;
  text-align: center;
}
